@import "~flag-icon-css/css/flag-icon.min.css";

button {
    background:none!important;
    border:none; 
    padding:0!important;
    
    /*optional*/
    color:#069;
    text-decoration:underline;
    cursor:pointer;
}