<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <p class="h1">SUPERHOLIDAYVIEWER</p>
</header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 countrylist-container">
      <form #formElement="ngForm" class="d-flex align-items-center">
        <div class="form-group">
          <input type="text" pattern="-?[0-9]+" class="form-control" id="year" #yearElement="ngModel" [(ngModel)]="userInput.year" name="user_year" value="2017" placeholder="Enter a year" required>
        </div>
      </form>
      <nav class="countrylist-list">
        <countrylist (onSelected)="onSelected($event)"></countrylist>
      </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
      <holidayviewer [userInput]="userInput"></holidayviewer>
    </main>
  </div>
</div>